
*.toc
*.synctex
*.synctex(busy)
*.lop
*.lol
*.lot
*.lof
*.loC
*.ind
*.ilg
*.idx
*.blg
*.bcf
*.bbl
*.aux
*.run.xml
*.synctex.gz
RfCPN/RfCPN.log
*.out
*.upa
*.upb
RfCPN/RfCPN.pdf
*.pygtex
*.pygstyle
*.pyg
*.locode
*.loColumn
