
*.toc
*.synctex
*.synctex(busy)
*.lop
*.lol
*.lot
*.lof
*.loC
*.ind
*.ilg
*.idx
*.blg
*.bcf
*.bbl
*.aux
*.run.xml
*.synctex.gz
RPA_for_Creating_Program_Note/RPA_for_Creating_Program_Note.log
*.out
*.upa
*.upb
